@import "tailwindcss";


@theme {
  --color-brand: #9BBFE0;
  --font-inter: var(--font-inter);
  --color-affc-blue: rgb(155, 191, 224);
  --color-affc-pink: #D687b1;
  --font-playfair-display: var(--font-playfair-display);
}